.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #395886;
  padding: 0.5rem 3rem;
  color: #f0f3fa;
  margin-top: 3rem;
  height: 1%;
  width: 100%;
}

.footer-logo a {
  color: #f0f3fa;
  text-decoration: none;
  font-family: 'Times New Roman', serif;
  font-size: 1.2rem;
  line-height: 1.1;
  max-width: 80px;
  display: block;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.footer-nav a {
  color: #f0f3fa;
  text-decoration: none;
  font-size: 1rem;
}
