
.elements-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  padding-bottom: 4rem;
}

/* CONTENEDOR DEL TEXTO */
.info-box {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;
  text-align: center;
}

/* TITULO */
.info-box .elements-title {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  color: #410b5a;
  font-family: 'Segoe UI', system-ui, sans-serif;
  font-weight: 700;
}

/* PARRAFO */
.info-box p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #395886;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

/* ---------- ESTILO NUEVO:---------- */
.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.btn {
  background: white;
  color:#410b5a;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}
.btn:hover {
  background: #9d9bc4;
}

.btn-primary {
  background: #410b5a;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.15s;
}

.btn-primary:hover {
  background: #9d9bc4;
}

/* ---------- LISTA ---------- */
.elements-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

/* ---------- CARD DE ELEMENTO ---------- */
.element-item {
  background: #f7f9fc;
  border: 1px solid #dbe3f1;
  border-radius: 14px;
  padding: 1rem 1.2rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-height: 180px;
  border: 2px solid #d2d5e7;
}

/* DETALLES DEL ELEMENTO */
.element-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.95rem;
  color: #395886;
}

.element-details span {
  font-weight: 500;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 1100px) {
  .elements-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .elements-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .elements-list {
    grid-template-columns: 1fr;
  }

  .elements-title {
    font-size: 1.4rem;
    padding-left: 0.9rem;
    margin-top: 1.5rem;
  }
}

.description-section {
  margin-top: 8px;
}

.description-section .label {
  font-weight: bold;
}

.description-list {
  margin: 5px 0 0 15px;
  padding: 0;
  list-style: disc;
  line-height: 1.4;
}

.active {
  background: #411f55;
  color: white;
}
