<div class="elements-wrapper">

  <div class="info-box">
  <h6 class="elements-title">Información que necesitas saber antes de planificar tu evento</h6>

  <p>
    En nuestro salón, el precio del menú es por persona e incluye todo lo esencial para tu evento: <strong> el uso del salón,
    la vajilla, el mobiliario y el personal necesario para que la fiesta funcione sin costos adicionales</strong>(mozos,coordinador y seguridad).
    <br/> Es decir, solo con elegir un menú ya contás con un paquete completo y listo para usar.
  </p>

  <p>Además, podés complementar tu evento con una serie de elementos adicionales
    totalmente opcionales, pensados para personalizar la experiencia según tu gusto y estilo. A continuación
    te mostramos los menús y complementos disponibles junto con toda  <br/> su información para que a la hora de planificar
    tu evento elijas lo que quieras sumar.</p>
</div>

<div class="category-buttons">
  <button class="btn" (click)="clearFilter()" [class.active]="activeFilter() === 'all'">
     Mostrar todos
  </button>

  <button class="btn" *ngFor="let cat of categories()" (click)="categoryText.set(cat); filterByCategory()"
    [class.active]="activeFilter() === cat">
   {{ cat }}
  </button>
</div>

 <ul class="elements-list">
  <li class="element-item" *ngFor="let item of filteredElements()">
    <div class="element-details">

      <span><strong class="label-text">Categoría:</strong> {{ item.category }}</span>
      <span><strong class="label-text">Nombre:</strong> {{ item.name }}</span>

      <div class="description-section" *ngIf="item.description">
      <strong class="label-text">Descripción: </strong>
        <ul class="description-list">
          <li *ngFor="let line of item.description.split('\n')">
            {{ line.replace('-', '').trim() }}
          </li>
        </ul>
      </div>

      <span><strong class="label-text">Precio:</strong> ${{ item.price }}</span>

    </div>
  </li>
</ul>

</div>

