<header class="header">
  <div class="logo">
    <a routerLink="/home-user">YOUR EVENT</a>
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <nav class="nav" [class.open]="isMenuOpen">

    <a routerLink="/home-user" (click)="closeMenu()">Inicio</a>
    <a routerLink="/user/event-form" (click)="closeMenu()">Crear evento</a>
    <a routerLink="/events-user" (click)="closeMenu()">Mis eventos</a>

    <a (click)="logout()" class="logout">Cerrar sesión</a>

  </nav>
</header>
