.events-title-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.events-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #395886;
  margin: 2rem 0 1.2rem;
  font-family: 'Segoe UI', system-ui, sans-serif;
}
/* ---------- GRID DE EVENTOS ---------- */
.events-list {
  list-style: none;
  margin: 0 auto;
  padding: 0 1.2rem;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
  font-family: 'Segoe UI', system-ui, sans-serif;
}

/* ---------- CARD DE EVENTO ---------- */
.event-item {
  background: #f7f9fc;
  border: 1px solid #dbe3f1;
  border-radius: 14px;
  padding: 1rem 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  flex-grow: 1;
  height: 130px;
}

/* Características en columna */
.event-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  font-size: 0.95rem;
  color: #395886;
}

.event-details span {
  font-weight: 500;
}

/* ---------- BOTÓN Mostrar más y actualizar---------- */
.event-btn {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  gap: 0.6rem;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}
.show-more-btn {
  background: #d5deef;
  border: 1px solid #8eacd8;
  color: #395886;
  margin-top: auto;
  padding: 0.45rem 0.9rem;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s;
  align-self: flex-end;
}

.show-more-btn:hover {
  background: #c9d6ec;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 1100px) {
  .events-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .events-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .events-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .events-title {
    font-size: 1.4rem;
    padding-left: 0.9rem;
    margin-top: 1.5rem;
  }
}
