<ul>
  @for (item of events(); track $index) {
  <li>
    {{ item.date }}
    {{ item.totalPrice }}
    {{ item.status }}

    <ul>
      @for (i of item.elements; track $index) { @let elementFound = findById(i); @if(elementFound){
      {{
        elementFound.name
      }}
      {{
        elementFound.price
      }}
      } }
    </ul>
    <button type="button" (click)="delete(item.id)">Eliminar</button>
    <button type="button" (click)="patch(item)">Confirmar evento</button>
  </li>
  }
</ul>
