<div class="events-user">

  <!-- LOADING -->
  @if (loading) {
    <div class="loading">
      Cargando tus eventos...
    </div>
  }

  <!-- SIN EVENTOS -->
  @if (!loading && eventos.length === 0) {
    <div class="no-events">
      No tenés eventos cargados todavía.
    </div>
  }

  <!-- LISTA DE EVENTOS -->
  @if (!loading && eventos.length > 0) {

    <div class="events-list">

      @for (ev of eventos; track ev.id) {

        <div class="event-card">

          <h3>Evento del {{ ev.date }}</h3>

          <p><strong>Estado:</strong> {{ ev.status }}</p>
          <p><strong>Tipo de evento:</strong> {{ ev.eventType }}</p>
          <p>ID del evento: {{ ev.id }}</p>

        <div class="event-btn">
          <button class="show-more-btn" [routerLink]="['/eventos', ev.id]">Mostrar más</button>
        </div>
        </div>
      }
    </div>
  }
</div>

