<div class="register-container">

  <h2>Registrate hoy</h2>

  <form [formGroup]="registroForm" (ngSubmit)="registrar()">

    <label>Nombre</label>
    <input type="text" formControlName="name" placeholder="Tu nombre">
    <p class="error-msg"
      *ngIf="registroForm.get('name')?.invalid && registroForm.get('name')?.touched">
      El nombre es obligatorio.
    </p>

    <label>Apellido</label>
    <input type="text" formControlName="lastName" placeholder="Tu apellido" />
    <p class="error-msg"
      *ngIf="registroForm.get('lastName')?.invalid && registroForm.get('lastName')?.touched">
      El apellido es obligatorio.
    </p>

    <label>Email</label>
    <input type="email" formControlName="email" placeholder="Tu email">
    <p class="error-msg"
      *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched">
      Ingresá un email válido.
    </p>

    <label>Teléfono</label>
    <input type="text" formControlName="phone" placeholder="Tu teléfono" />
    <p class="error-msg"
      *ngIf="registroForm.get('phone')?.invalid && registroForm.get('phone')?.touched">
      Ingresá un telefono válido.
    </p>

    <label>Contraseña</label>
    <input type="password" formControlName="password" placeholder="Tu contraseña">
    <p class="error-msg"
      *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched">
      Mínimo 5 caracteres.
    </p>


    <button type="submit">Registrarse</button>

    <p class="error" *ngIf="errorMsg">{{ errorMsg }}</p>
  </form>

</div>
