<div class="elements-wrapper">

  <h2 class="elements-title">Elementos cargados: {{ filteredElements().length }}</h2>

  <button class="add-btn" (click)="addElement()">Agregar elemento</button>

  <div class="filter-box">
   <input type="text" [ngModel]="categoryText()" (ngModelChange)="categoryText.set($event)"
    placeholder="Filtrar por categoría..." (keyup.enter)="filterByCategory()" />

    <button class="btn-primary" (click)="clearFilter()">
    Mostrar todos
    </button>
  </div>

  <ul class="elements-list">
    <li class="element-item" *ngFor="let item of filteredElements()">
      <div class="element-details">
        <span>Categoría: {{ item.category }}</span>
        <span>Nombre: {{ item.name }}</span>

       <div class="description-section" *ngIf="item.description">
          <span class="label">Descripción:</span>
           <ul class="description-list">
           <li *ngFor="let line of item.description.split('\n')">
              {{ line.replace('-', '').trim() }}
           </li>
           </ul>
       </div>

       <span>Precio: ${{ item.price }}</span>
      </div>
     <div class="element-buttons">
      <button type="button" (click)="delete(item.id)">Eliminar</button>
       <button type="button" (click)="put(item)">Actualizar</button>
     </div>
    </li>
  </ul>

</div>
