


:host {
  display: block;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.hero {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url('https://media.janoseventos.com/large_0450_4ab8c63902.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(1px) saturate(0.9) brightness(1.05);
  opacity: 0.9;

  z-index: -1;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 2rem;
  max-width: 900px;
}


.hero-title {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 700;
  line-height: 0.95;
  margin-bottom: 1.5rem;
}

.hero-title span {
  display: inline-block;
}

.hero-mision {
  display: block;
}


.hero-lead {
  font-size: clamp(1rem, 2vw, 1.5rem);
  opacity: 0.9;
  margin-bottom: 2rem;
}


.hero-secondary p {
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  margin-bottom: 1rem;
  font-weight: 600;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.nav a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  padding: 0.7rem 2.2rem;
  background: #d0a1df;
  color: #66227a;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
}

.nav a:hover {
  background: #9539ca;
  transform: translateY(-2px);
}

